# Python clutter
*__pycache__*
*.egg-info

# pytest
.coverage
htmlcov/*

# IDE clutter
.idea/

# Outputs (graphs, data, logs, profiling, ...)
*.png
*.csv
*.log
*.prof
*.out

# STICS clutter
*.sti
*param_files/*
*default/*
*logs/*
*STICS/*