# Python clutter
*__pycache__*
*.egg-info
.coverage

# pytest
.coverage
htmlcov/*

# IDE clutter
.idea/

# Outputs (graphs, data, logs, profiling, ...)
*.png
*.csv
*.log
*.prof
*.out
*.svg
OUTPUTS/

# STICS clutter
*.sti
*param_files/*
*default/*
*logs/*
*STICS/*

# Profiling and tests outputs
*.prof
*.out
htmlcov
.coverage

# Temporary files directory
TEMPORARY_FILES/

# IPython Notebook clutter
*.ipynb_checkpoints